
<div id="pages-comingsoon"> 
<%= render('pages/_partials/event_details_jumbotron') %>
<%= render('pages/_partials/hackathon/prizes_overview') %>
<%= render('pages/_partials/sponsorships/call_to_action') %>
<%= render('pages/_partials/hackathon/description') %>
<%= render('pages/_partials/hackathon/promo') %>
<%= render('pages/_partials/hackathon/call_to_action') %>
<%= render('elements/map') %>
</div>